@typeparam TItem

@if (List == null)
{
    @if (NullTemplate != null)
    {
        @NullTemplate
    }
    else
    {
        // Default Content
<div class="d-flex justify-content-center">
    @*<img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />*@
    <img style="width: 100px" src="https://media0.giphy.com/media/j6XZlxTBLE1taAzsGV/giphy.gif?cid=ecf05e4717bbljuvzz6wh3tmn7n1vb16sz0g0q8kenjhp2l8&ep=v1_stickers_search&rid=giphy.gif&ct=s" />
    
</div>
    }
}
else if (List.Count == 0)
{
    @if (EmptyTemplate != null)
    {
        @EmptyTemplate
    }
    else
    {
        // Default Content
        <text>There are no records to show</text>
    }
}
else
{
    @if (ElementTemplate != null)
    {
        @foreach (var element in List)
        {
            @ElementTemplate(element)
        }
    }
    else
    {
        @WholeListTemplate
    }
}

@code {
    [Parameter] public RenderFragment NullTemplate { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; }
    [Parameter] public RenderFragment WholeListTemplate { get; set; }
    [Parameter] public List<TItem> List { get; set; }
}
