<div>
    <!--Section3 Homework-->
    <Img ImageUrl="@Movie.ImageUrl" />
    <p>Title : @(Movie.Title)</p>
    <p>Release Date : @Movie.ReleaseDate.ToString("dd MMMM yyyy")</p>
    @if (DisplayButtons)
    {
        <div class="mb-3">
            <button @onclick="(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
        </div>
    }
</div>

@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
}
