@page "/person/create"

<h3>Create Person</h3>

<PersonForm Person="person" OnValidSubmit="Create" />

@code {
    Person person = new Person();

    private void Create()
    {
        Console.WriteLine("creating person...");
        Console.WriteLine(person.Name);
    }
}
