@page "/"
@page "/index"
@inject IMoviesRepository moviesRepository

<div class="border border-3 rounded p-4 bg-dark text-white">
    <h3 class="d-flex justify-content-center">IN THEATERS</h3>
    <div class="d-flex justify-content-center">
        <MovieList Movies="InTheaters" />
    </div>
</div>

<div class="border border-3 rounded p-4 bg-dark text-white mt-2">
    <h3 class="d-flex justify-content-center">UPCOMING RELEASES</h3>
    <div class="d-flex justify-content-center">
        <MovieList Movies="UpcomingReleases" />
    </div>
</div>

@code{
    private List<Movie> InTheaters;
    private List<Movie> UpcomingReleases;
    protected async override Task OnInitializedAsync()
    {
        var response = await moviesRepository.GetIndexPageDTO();
        InTheaters = response.Intheaters;
        UpcomingReleases = response.UpcomingReleases;
    }
}